{% extends "blog/entry_base.html" %}

{% load thumbnail %}

{% block nav_blog %} active{% endblock %}

{% block post %}

	<!-- The new post done by user's all in the post block -->
	<div class="blog-post">
		<!-- Entry is the one post for each user -->
		<div class="entry">
			<!-- Meta for this block -->
            <div class="col-md-3 col-sm-3">
    			<div class="meta br-white">
    				<!-- Date -->
    				<div class="post-date"><span>{{ object.created|date:"d M" }}</span>{{ object.created|date:"Y" }}</div>
    				<!-- Post Information -->
    				<div class="meta-info"><i class="fa fa-user"></i> <span>{{ object.author }}</span></div>
    				<div class="meta-info"><i class="fa fa-tag"></i>
    					{% for tag in object.tags.all %}
    				        <a href="{% url 'blog:tag_list' tag.slug %}"><span>{{ tag.name }}</span></a>
                        {% endfor %}
    				</div>
    				<div class="clearfix"></div>
    			</div>
            </div>
            <div class="col-md-9 col-sm-9">
    			<div class="beta br-white pull-right">
    				<!-- Heading of the  post -->
    				<h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
    				{% thumbnail object.image "1000" crop="center" format="PNG" as im %}
                        <img src="{{ im.url }}" alt="{{ object.title }}" class="img-responsive">
                    {% empty %}
                        <p>Sem Imagem</p>
                    {% endthumbnail %}
    				<!-- Para -->
    				{% autoescape off %}
                    <p>{{ object.body|striptags|linebreaks|cut:"../../../.." }}</p>
                    {% endautoescape %}
    			</div>
            </div>
			<div class="clearfix"></div>
		</div>
	</div>

{% endblock post %}
