{% extends "base.html" %}

{% load thumbnail %}

{% block nav_contact %} active{% endblock %}

{% block content %}

			<!-- Inner Page Content // Start -->

			<div class="inner-page">
				<div class="container">
					<div class="row">
						<!-- Main-bar Column -->
						<div class="col-md-12">
							<div class="page-mainbar contactus">
								<!-- Heading -->
								<h3>Contato</h3>
								<!-- Contact Us Form -->
								<div class="contact-form">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											{% if contact_success %}
						                    <p>Mensagem enviada com sucesso.</p>
						                    <a href="{% url 'contact' %}" class="btn btn-default">Voltar</a>
						                    {% else %}
						                    <form method="post" action=".">
						                        {% csrf_token %}
						                        {% for field in contact_form %}
						                        	<div class="form-group">
						                            {{ field }}
						                            {{ field.errors }}
						                            </div>
						                        {% endfor %}
						                        <input type="submit" class="btn btn-default" value="Enviar mensagem">
						                    </form>
						                    {% endif %}
										</div>
										<div class="col-md-6 col-sm-6">
											<!-- Google Map -->
											<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3941.962559268157!2d-36.4865086!3d-8.8830731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7070cddcf046227%3A0xec8a2eac68ca9ec9!2sR.+Pedro+Rocha%2C+286+-+Heli%C3%B3polis%2C+Garanhuns+-+PE%2C+55295-470!5e0!3m2!1sen!2sbr!4v1421357809162" frameborder="0" style="border:0"></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Inner Page Content // End -->

{% endblock content %}
