{% extends "base.html" %}

{% load thumbnail %}

{% block nav_games %} active{% endblock %}

{% block content %}

    <!-- Inner Page Content // Start -->

    <div class="inner-page">
        <div class="container">
            <div class="row">
                <!-- Main-bar Column -->
                <div class="col-md-12">
                    <div class="page-mainbar testimonial">
                        <!-- Heading -->
                        <h3>Jogos</h3>
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                            <div class="row">
                                {% for game in games_list %}
                                <div class="col-md-12 col-sm-12">
                                    <!-- Client post -->
                                    <div class="testimonial-item br-white animated">
                                        <!-- Image -->
                                        <!-- Heading -->
                                        <h4>{{ game.title }}</h4>
                                        {% autoescape off %}
                                        <p>{{ game.body|linebreaks|cut:"../../../.." }}</p>
                                        {% endautoescape %}
                                    </div>
                                </div>
                                {% empty %}
                                <div class="col-md-12 col-sm-12">
                                    <div class="testimonial-item br-white animated">
                                        <p>Aguardando conteúdo...</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inner Page Content // End -->

{% endblock content %}
